doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../css/section.css')

  title how it works
section#how.section-how
  .container
    span.sub-heading How it works
    h2.heading-secondary The working three steps
  .container.grid.grid--2-cols.grid--center-v
    // STEP-01
    .step-text-box
      p.step-number 01 
      h3.heading-tertiary  Tell, what service they would want to have:
      p.step-description
        | Never again waste time thinking about what service to Offer!
        | DockVille app makes available all the services at your convienience
    .step-img-box
      img.step-img(src='../img/app/services1.png' alt='')
    // STEP-02
    .step-img-box
      img.step-img(src='../img/app/services1.png' alt='')
    .step-text-box
      p.step-number 02 
      h3.heading-tertiary  Register the clients details respectively in the forms:
      p.step-description
        | Register Carservices into truckform and the other respectively.
    // STEP-03
    .step-text-box
      p.step-number 03 
      h3.heading-tertiary Login your Credentials: 
      p.step-description
        | keep your password personal always.
    .step-img-box
      img.step-img(src='../img/app/services1.png' alt='iphone app delivery screen')
